@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0 10px;

  background-color: rgb(247, 245, 245);
  font-family: Roboto;
  color: #3f3f58;
}
.wrapper {
  max-width: 700px;
  width: 100%;
  background: white;
  margin: 20px auto;
  border: 2px solid skyblue;
}
.appt {
  color: white;
  text-align: center;
  background: #aa1010;
  margin-bottom: 15px;
  padding: 15px;
}
form {
  width: 100%;
}
.td {
  padding: 30px;
}
label {
  font-size: 18px;
  font-weight: 700;
}
.dandt {
  display: flex;
}
.date {
  margin-right: 20px;
  padding: 10px;
}
.time {
  padding: 8px;
}
.submit {
  padding: 10px 50px;
  margin-left: 270px;
  background-color: #aa1010;
  color: white;
  border: none;
  font-weight: 700;
}
.name {
  width: 400px;
  height: 30px;
  background-color: rgb(247, 245, 245);
  border: none;
}
.last {
  background: rgb(247, 245, 245);
  padding: 20px;
}
textarea {
  background: rgb(247, 245, 245);
  width: 400px;
  border: none;
}
.comment {
  font-size: 18px;
  font-weight: 700;
}
